.post {
  border: 1px solid $color-2;
  padding: 20px;
  position: relative;
  margin: 10px;
  width: 400px;
  height: 450px;
  background: $color-1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .edit-delete {
    position: absolute;
    right: 20px;

    img {
      height: 20px;
      width: 20px;
      margin: 0 4px;
    }
  }
  .post-img {
    width: 200px;
    height: 220px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
  }

  .title {
    text-align: center;
    align-self: center;
  }

  .description {
    font-weight: bolder;
  }

  .categories {
    font-style: italic;
    font-size: 13px;
    margin-top: -15px;
  }

  .basePrice {
    text-decoration: line-through;
    color: red;
    font-size: 15px;
    margin-bottom: -20px;
  }

  .edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 249, 255);
    border: 1px solid;
    padding: 10px;
  
    .validChange {
      background: rgb(252, 190, 252);
    }

    .edit-article-title {
      text-align: center;
      margin: 0;
      font-size: 25px;
      text-decoration: underline;
    }

    .edit-article {
      margin:0;
    }
  }
  .edit-form input {
  
    margin:10px; 
    padding: 7px;
    border-radius: 6px;
    font-size: 10px;
    background: #fbfbfb;
    border: 2px solid transparent;
  
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
  }
  .formEdit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 460px;

      .inputSubmit {
        height: 40px;
        border-radius: 10px;
        width: 200px;
        border: white;
        background-color: rgb(182, 218, 252);
        color: white;
        font-weight: bolder;
        font-size: 18px;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: black;
        margin: 10px;
      }

      .valueEdit {
        height: 30px;
        width: 180px;
        margin: 5px;
      }

  }
  
  @media screen and (max-width: 1000px) {
    width: 300px;
  }
}

.modale {

  border-radius: 10px;
  .boutonOui {
    position: relative;
    left: 30px;
    background-color: rgb(247, 223, 223);
    height: 30px;
    width: 50px;
    border-radius: 10px;
    border: white;
  }
  .boutonNon {
    position: relative;
    left: 100px;
    background-color: rgb(235, 240, 252);
    height: 30px;
    width: 50px;
    border-radius: 10px;
    border: white;
  }
}